# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.Python
build/
dist/

# Virtual environment
env/
venv/
.venv/

# IDE-specific files
.vscode/
.idea/

# Database files
*.db
*.sqlite
*.sqlite3

# Environment variables
.env
